[submodule "pybind11"]
	path = pybind11
	url = git://github.com/pybind/pybind11.git
[submodule "nanoflann"]
	path = nanoflann
	url = git://github.com/jlblancoc/nanoflann.git
[submodule "googletest"]
	path = googletest
	url = git://github.com/google/googletest.git
[submodule "glog"]
	path = glog
	url = git://github.com/google/glog.git
[submodule "happly"]
	path = happly
	url = git://github.com/wang-ps/happly.git
